<section class="information">
    <section>
        <a href="assets/images/ruminesimLegacy.png">
            <img src="assets/images/ruminesimLegacy.png" style="width: 60%;" />
        </a>
        <h2>О приложении</h2>
        <p>
            Добро пожаловать в 2016! Это та самая версия симулятора Румине 1.0, что была выпущена уже много лет назад.
             Ну, как та самая...  Сделана она с нуля, а вот интерфейс и внутренняя логика <i>почти</i> всё те же самые. 
            И это теперь не совсем Windows-приложение...
        </p>
        <details>
            <summary>Что вообще за "симулятор Румине"?</summary>
            <p>
                Симулятор 1.0 вдохновлен <a href="https://ru-minecraft.ru/forum/">форумом ru-minecraft.ru</a> (он же румине) и творящимися на нем безумствами. 
                Он создает случайных пользователей на основе настоящих, после чего генерирует разнообразные события с их участием.
                Наблюдать за этими взаимодействиями может быть весьма забавно.
            </p>
        </details>
        <p>
            Для хоть какого-то удобства сделана обновленная версия 1.5 (кодовое название <i>Reforged</i>), которая имеет чуть более удобный интерфейс.
        </p>
    </section>
    <section>
        <h3>Отличия от оригинала</h3>
        <ul>
            <li>Убраны полностью неработающие вкладки из интерфейса;</li>
            <li>Более точное представление дат и времени;</li>
            <li>Теперь при низкой активности игра не заканчивается;</li>
            <li>Возможность перезапускать симуляцию в настройках:
                <ul>
                    <li>Собственно, сами настройки. Все с единственным вариантом выбора.</li>
                </ul>
            </li>
            <li>Только версии 1.5:
                <ul>
                    <li>Теперь у групп есть цвета;</li>
                    <li>Обновление событий через мгновенное создание <i>историй</i> за n дней.</li>
                </ul>
            </li>
            <li>Небольшие изменения логики:
                <ul>
                    <li>Прошедшие события влияют на активность 30 событий вперед, затем забываются (ранее учитывались только события за текущий месяце);</li>
                    <li>Старение Румине происходит с малой вероятностью в любой день, а не гарантированно по прошествии года.</li>
                </ul>
            </li>
            <li>Изменения формулировки событий групп и истории активности.</li>
        </ul>

    </section>
    <section>
        <h3>
            В будущем
        </h3>
        <p>
            Возможно, будет перенесена и версия <b>симулятора 2.0</b>! Но это не точно.
            <br>
            Гипотетическое обновление добавит новые настройки(ура хоть какой-то выбор!), а также новую вкладку интерфейса,
             которая будет повторять интерфейс уже версии 2.0.
        </p>
        <p>
            При этом вкладка версии 1.0 останется точно такой же как и была.
        </p>
    </section>
    <section>
        <p style="text-align: center;font-size: 1.75em; font-family: 'Minecraft Rus'; letter-spacing: 2px; margin: 10px 0;">
            <span style="color: gray;">RM</span><span style="color: orange;">CA</span>
        </p>
        <p>
            Сделано единственным несменяемым разработчиком творческого объединения <b>RMCA</b>  - Аллехом. 
            Оно производит симуляторы, газеты, таблицы активности и прочие полезные в хозяйстве вещи, так что 
            наблюдайте за новостями...
        </p>
        <ul>
            <li><a>Репозиторий версии Reforged (2021+)</a></li>
            <li><a>Восстановленный репозиторий версии 1.0 (2016)</a></li>
            <li><a>Оригинальный репозиторий версии 2.0 (2016-2017)</a></li>
        </ul>
    </section>

</section>